<!doctype html>
<html layout:decorate="~{fragments/mandatory/template}">
  <head>
    <title th:text="#{resetPasswordPage.head.title}"></title>
  </head>

  <body>

    <div layout:fragment="mainContent">
      <div class="card">
        <h4 class="card-header"><strong th:text="#{resetPasswordPage.main.title}"></strong></h4>
        <div class="card-body">

          <form th:action="@{/reset-password (languageParam=${param.languageParam})}" th:object="${authUserResetPasswordDTO}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
              <span th:text="#{error.correctFields} + ':'"></span>
              <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
              </ul>
            </div>

            <div class="mb-1" th:if="${errorMsg != null}">
              <br/>
              <strong class="alert alert-danger" th:text="${errorMsg}" role='alert'></strong>
              <br/>
              <br/>
            </div>

            <div class="mb-1" th:if="${successMsg != null}">
              <br/>
              <strong class='alert alert-success' th:text="${successMsg}" role='alert'></strong>
              <br/>
              <br/>
            </div>

            <div class="row">
              <div class="col-md-4 form-group">
                <input type="hidden" th:field="*{id}"></input>
                <input type="hidden" th:field="*{uuid}"></input>
                <label for="email" class="form-label mt-2 mb-1" th:text="#{authUserCredentials.email}"></label>
                <input type="text" class="form-control" th:field="*{email}" id="email" name="email" required readonly></input>
              </div>
              <div class="col-md-4 form-group">
                <label for="newPassword1" class="form-label mt-2 mb-1" th:text="#{authUserCredentials.newPassword1}"></label>
                <input type="password" class="form-control" th:field="*{newPassword1}" id="newPassword1" name="newPassword1" required></input>
                <br/>
                <label for="newPassword2" class="form-label mt-2 mb-1" th:text="#{authUserCredentials.newPassword2}"></label>
                <input type="password" class="form-control" th:field="*{newPassword2}" id="newPassword2" name="newPassword2" required></input>
                <br/>
              </div>
            </div>

            <br/>
            <div class="row mx-0 px-0 my-0 py-0">
              <div class="col-md-4 form-group mx-0 px-0 my-0 py-0">
                <a id="cancelButton" th:href="@{/login (languageParam=${param.languageParam})}" class="btn btn-secondary" role="button">
                  <span th:text="#{button.cancel}"></span>
                </a>
                &nbsp;
                <button type="submit" id="saveButton" class="btn btn-primary" th:text="#{button.save}"></button>
              </div>
            </div>
            <br/>
            <br/>

          </form>

        </div>
      </div>
    </div>

  </body>
</html>